Projet/ProjectSolution/HeavyClient Stats/Connected Services/RoutingSoapReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/ServiceSoap/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="footToFoot" nillable="true" type="tns:PositionInstruction" />
      <xs:element minOccurs="0" name="footToStation" nillable="true" type="tns:PositionInstruction" />
      <xs:element minOccurs="0" name="sationToFoot" nillable="true" type="tns:PositionInstruction" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="startPosition" nillable="true" type="q1:Position" />
      <xs:element minOccurs="0" name="stationToSation" nillable="true" type="tns:PositionInstruction" />
      <xs:element minOccurs="0" name="worthIt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject" nillable="true" type="tns:ResultObject" />
  <xs:complexType name="PositionInstruction">
    <xs:sequence>
      <xs:element minOccurs="0" name="instructions" nillable="true" type="tns:ArrayOfStep" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="positions" nillable="true" type="q2:ArrayOfPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionInstruction" nillable="true" type="tns:PositionInstruction" />
  <xs:complexType name="ArrayOfStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStep" nillable="true" type="tns:ArrayOfStep" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="distance" type="xs:double" />
      <xs:element minOccurs="0" name="duration" type="xs:double" />
      <xs:element minOccurs="0" name="instruction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
</xs:schema>